@font-face {
    font-family: "Bebasneuebold";
    src: url(http://study/2/fonts/bebasneuebold.ttf);
}

div.clear {
    clear: both;
}

div.white {
    background-color: #ffffff;
}

div.lightgreen {
    background-color: #3CC3B5;
}

div.green {
    background-color: #39BEBB;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font: 12px Werdana;
}

header {
    width: 100%;
}

#block1 {
    padding-top: 25px;
    width: 1024px;
    margin: 0 auto;
}

.aditiilogo {
    float: left;
    margin-left: 20px;
}

#search {
    margin-left: 160px;
    float: left;
    width: 436px;
    height: 33px;
}

.shop {
}

.shoplogo {
    float: left;
    margin-left: 150px;
}

.shop1 {
    float: left;
    font-size: 30px;
    padding-top: 4px;
    margin-left: 15px;
    color: #A1A1A1;
}

#block2 {
    height: 36px;
    margin-top:81px;
}