@font-face {
    font-family: "Bebasneuebold";
    src: url(http://study/2/fonts/bebasneuebold.ttf);
}

div.clear {
    clear: both;
}

div.white {
    background-color: #ffffff;
    width: 100%;
}

div.lightgreen {
    background-color: #3CC3B5;
    width: 100%;
}

div.green {
    background-color: #39BEBB;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Bebasneuebold", sans-serif;
}

header {
    width: 100%;
}

#block1 {
    padding-top: 25px;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 22px;
}

.aditiilogo {
    float: left;
    margin-left: 20px;
}

.search {
    float: left;
    width: 430px;
    border: 1px solid lightgrey;
    min-height: 30px;
    margin-left: 180px;
    font-size: 20px;
    padding-top: 4px;

}
input[type="search"] {
    outline: none;
    width: 430px;

    font-size: 20px;
    background: url(http://study/2/img/search.gif) no-repeat 390px -4px;

}
input[type="submit"] {
    width: 30px;
    height: 30px;
    border: none;


}

.shoplogo {
    float: left;
    margin-left: 130px;
}

.shop1 {
    float: left;
    font-size: 30px;
    padding-top: 4px;
    margin-left: 15px;
    color: #A1A1A1;
}

#block2 {
    height: 36px;
    width: 1024px;
    margin: 0 auto;

}

ul.menuhr {

    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    width: 1024px;

}

ul.menuhr li {
    display: inline;
    font-size: 16px;
    border-right: 1px solid #ffffff;
    padding-right: 27px;
    padding-left: 27px;
}

#last {
    border-right: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#block3 {
    height: 445px;
    margin: 0 auto;
    width: 1024px;
}

.footbolka1 {
    margin: 0 auto;
    float: left;
}

.text1 {
    padding-top: 80px;
    text-align: left;
}

span {
    font-size: 44px;
    color: #ffffff;
    padding-top: 80px;

}

p {
    padding-top: 28px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
}

.c {
    margin-top: 21px;
    border: 2px solid #ffffff;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    border-radius: 6px;
    padding: 5px 8px;
    letter-spacing: 5px;
}

.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #39BEBB;
}
div.clear {
    clear: both;
}

#block4 {
    height: 190px;
    margin: 0 auto;
    width: 1024px;
}

.featured {
    border-right: 3px solid #dcdcdc;
    float: left;
    width: 340px;
}

.featuretufli {
    float: left;
    }

.text-featured {
    font-size: 20px;
    color: grey;
    padding-top: 60px;
}

.c1 {
    float: left;
    border: 2px solid #ffffff;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    border-radius: 6px;
    padding: 3px 6px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #3CC395;
    margin-top: 12px;
}

.c1:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fff, #fff);
    color: #3CC395;

}

.featured2 {
    border-right: 3px solid #dcdcdc;
    float: left;
    width: 340px;
}

.featurefootbolka {
    float: left;
}

.featured3 {

}

.featurebridgi {
    float: left;
}

#block5 {
    height: 45px;
    width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}

#center-1 {
    width: 100%;

}

.span-2 {
    margin-left: 50px;
    font-size: 20px;
}

#block6 {
    height: 640px;
    width: 1024px;
    margin: 0 auto;
    padding-top: 46px;
}

.new-cloth {

}

.cloth1 {
    border-bottom: 5px solid  #41bfb9 ;
    width: 254px;
    height: 254px;
    float: left;
    margin-left: 58px
}
.cloth2 {
    float: left;
    width: 254px;
    height: 254px;
    margin-left: 50px;
    border-bottom: 5px solid  #41bfb9 ;
}
.cloth3 {
    float: left;
    width: 254px;
    height: 254px;
    margin-left: 56px;
    border-bottom: 5px solid  #41bfb9 ;
}
.cloth4 {
    float: left;
    width: 254px;
    height: 254px;
    margin-left: 58px;
    margin-top: 45px;
    border-bottom: 5px solid  #41bfb9;
}
.cloth5 {
    float: left;
    width: 254px;
    height: 254px;
    margin-left: 50px;
    margin-top: 45px;
    border-bottom: 5px solid  #41bfb9;
}
.cloth6 {
    float: left;
    width: 254px;
    height: 254px;
    margin-left: 56px;
    margin-top: 45px;
    border-bottom: 5px solid  #41bfb9;
}

.text-cloth1 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 55px;
}

.p-cloth1 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.text-cloth2 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 45px;
}

.p-cloth2 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.text-cloth3 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 55px;
}

.p-cloth3 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.text-cloth4 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 55px;
}

.p-cloth4 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.text-cloth5 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 40px;
}

.p-cloth5 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.text-cloth6 {
    color: grey;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0;
    margin: 0 0 0 55px;
}

.p-cloth6 {
    color: grey;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.c2 {

    border: 2px solid #ffffff;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    border-radius: 6px;
    padding: 2px 6px 4px 6px;
    color: #fff;
    background-color: #3CC395;
    margin-left: 16px;
    margin-top: 6px;

}

.c2:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fff, #fff);
    color: #3CC395;
}

footer {
    width: 100%;
}

#footer-green {
    width: 100%;
}

#footer-line, .lightgreen {
    width: 1024px;
    margin: 0 auto;
}

#block7 {

    height: 335px;
    list-style: none;
    width: 1024px;
    margin: 0 auto;
    padding-top: 40px;

}

.spisok {
    list-style: none;
    font-size: 20px;
    color: white;
}

.footer-span {
    font-size: 20px;
    letter-spacing: 2px;
}

.footer-li  {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 4px;
    padding-top: 30px;
    font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
}

.footermenu {
    float: left;
    margin-left: 55px;
}

.footermenu2 {
    float: left;
    margin-left: 95px;
}

.footermenu3 {
    float: left;
    margin-left: 95px;

}

.footermenu4 {
    float: left;
    margin-left: 95px;

}

#block8 {
    height: 45px;
    width: 100%;
}

.green-footer {
    width: 1024px;
    margin: 0 auto;
}

.footer-last {
    font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: large;
    color: #ffffff;
    line-height: 45px;
    margin-left: 394px;
}